@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 /* ============Navbar start======= */
 .homeservice{
    width: 174px;
    height: 52px;
    font-family: GeezaPro;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .about-us1{
    
      width: 143px;
      height: 52px;
      font-family: GeezaPro;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
    
  }
  .services{
    width: 70px;
    height: 49px;
    font-family: GeezaPro;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .supplier{
    width: 100px;
    height: 25px;
    font-family: GeezaPro;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .contactus{
  width: 102px;
  height: 76px;
  font-family: GeezaPro;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.Rectangle-2 {
  width: 123px;
  height: 41px;
  border-radius: 5px;
  background-color: #ff0000;
}

/* ========== navabar end=========== */
/* ===Mobile navbar start=========== */

/* @media only screen and (max-width: 360px) {
  .navbar-collapse {
    margin-right: -65px ! important;
    background-color: rgba(0, 0, 0, 0.65) ! important;
    margin-left: 44px ! important;
    margin-top: 7px ! important;
    margin-bottom: -460px ! important;
  }
}
@media only screen and (max-width: 411px) {
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.65)! important;
    margin-right: -57px! important;
    margin-left: 100px! important;
    margin-top: 8px! important;
    margin-bottom: -388px! important;
  }
}
@media only screen and (max-width: 320px) {
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.65);
    margin-right: 74px;
    ;
    margin-left: -136px;
    margin-top: 97px;
    margin-bottom: -385px;
  }
}
@media only screen and (max-width: 375px) {
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.65);
    margin-right: 118px;
  
    margin-left: -136px;
    margin-top: 97px;
    margin-bottom: -385px;
  }
}
@media only screen and (max-width: 414px) {
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.65)! important;
    margin-right: -58px! important;
    margin-left: 98px! important;
    margin-top: -4px! important;
    margin-bottom: -554px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-collapse {
    margin-left: -126px! important;
    margin-top: 39px! important;
    margin-right: 40 ! important;
  }
}
@media only screen and (max-width: 1024px) {
  .navbar-collapse { */
     /* background-color: rgba(0, 0, 0, 0.65);  */
    /* height: 607px;
  }
} */
@media screen and (min-width: 320px) and (max-width: 767px){
  .nav-bg {
    background-color: rgba(0, 0, 0, 0.65) !important;
  }



  
  .pt-120{
    position: relative !important;
    left: 206px !important;

  }
  .mt-414{
    margin-top: 3px !important;
  }

  .mr-5, .mx-5 {
    margin-right: 4rem!important;
}

.pad_12{
  padding: 0 12px;
}

}

@media screen and (max-width: 768px){
  .nav-bg {
    /* background-color: rgba(0, 0, 0, 0.65) !important; */
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: .0rem !important;
    padding-left: .0rem !important;
}

  .pt-120{
    position: relative !important;
    left: 232px 

  }
  .mt-414{
    margin-top: 3px !important;
  }

  .mr-5, .mx-5 {
    margin-right: 5rem!important;
}




li[_ngcontent-c1] {
  float: left;
  padding: 0 12px !important;
}


}

@media screen and (max-width: 1024px){
  .nav-bg {
    /* background-color: rgba(0, 0, 0, 0.65) !important; */
  }



  .pt-120{
    position: relative !important;
    left: 209px 

  }
  .mt-414{
    margin-top: 3px !important;
  }

  .mr-5, .mx-5 {
    margin-right: 4rem!important;
}




li[_ngcontent-c1] {
  float: left;
  padding: 0 12px !important;
}


}

/* =========Mobile navbar End========== */
